/******************************************
/* CSS
/*******************************************/

/* Default Font */
* {
    font-family: Montserrat,sans-serif;
    margin: 0;
    padding: 0;
}


/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html,
body {
    background-color: white;
    margin:0;
    padding:0;
    overflow-x:hidden;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.row {
}

#mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 5px;
    margin: 0;
    font-size: 13px;
    text-align: center;
}

.mobile-nav-icon {
    width: 25px;
}

.ganbaru-logo {
    width: 50px;
}

.image-home {
    width: 100%;
    height: auto;
}

.closed {
    display: none;
    color: white;
    z-index: 1;
}

.opened {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 80%;
}

@media screen and (min-width: 576px) {
    body {
      background-color: olive;
    }
}