/******************************************
/* CSS
/*******************************************/

/* Default Font */
* {
    font-family: Montserrat,sans-serif;
}


/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  margin:0;
  padding:0;
  overflow-x:hidden;
  }

header nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  margin-top: 0;
}
header nav ul li{
  padding-top: 1.5%;
  font-size: 20px;
  font-weight: 400px;

}

header nav ul li:hover{
  background-color: lightgray;
  border-radius: 3px;
}


.sub-menu-1{
  display:none
}

header nav ul li:hover .sub-menu-1{
  display:block;
  position:absolute;
  background-color: white;
}

header nav ul li:hover .sub-menu-1 ul{
  display:block;
  margin-top: 4%;
  background-color: white;
  margin-left: 8.3%;
  margin-right: 81%;
  height: 200px;
  text-align: center;
  padding-left: 0;
}

header nav ul li:hover .sub-menu-1 ul li{
  padding: 7% 0 5% 0;
}

#title{
  margin: 0 25% 0 20%;
  padding-top: 0;
}

#img{
  width: 5%;
  padding-right: 1%;
  padding-top: .15%;
  
}

img{
  width: 100%;
  position:absolute;
  z-index:-1;
}

.collection{
  padding: 10% 20% 30% 80%;
  font-size: 45px;
  color: white;
}

.collection button{
  font-size: 30px;
  width: 200px;
  background-color: white;
}

button.featured{
  background-color: white;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  margin-left: 42.5%;
  font-size: 28px;
}

section.clothesimg ul {
  display: flex;
  justify-content: space-around;
  margin: 5% 20%;
  list-style-type: none;
}

#span{
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
  font-size: 25px;
}

footer{
  background-color:gainsboro;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


footer #products h4, #explore h4, #touch h4{
  border-bottom: 2px solid gray;
}

#products{
  margin-left: 14%;
}

#touch{
  margin-right: 14%;
}


footer nav ul li{
  list-style-type: none;
  padding: 0
  
}

a {
    text-decoration: none;
}

a:visited { text-decoration: none; color:black; }
a:hover {
  text-decoration: none; 
  color:black;
}
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:black }


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
